.spinner {
    padding-top: 20%;
    padding-left: 45%;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
    margin: 20px;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: green
}